/*Navegação Superior*/
#nav {
    margin:0 auto;
    padding: 0;
    border-top: #00b8ff solid 1px;
    border-bottom: #00b8ff solid 1px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;

}

.navigationItem{
    display:inline;
    padding:0;
    margin:0 auto;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}


/*fim Navegação Superior*/

/* Título do site */

#siteTitle {
    margin:40px auto;
    font-size: 40px;
    text-align: center;
    font-weight: 600;

}

/*fim Título do site */

/*Título da Página */
#pageTitle {
    margin:20px auto;
    text-align: center;
    font-size: 30px;
    width: 160px;
}

/*fim Título do site */

/*Sub-título da Página */
#pageSubTitle{
    font-weight: bold;
    color:#003aa5;
}
/*fim Sub-título da Página */

/*Conteúdo*/

#pageContent {
    margin:25px auto;
    width: 70%;
}

#pageContent img {
    width: 150px;
    float: left;
    padding: 5px 15px;
    box-sizing: border-box;
    
}

/*fim conteúdo*/

/*Sub-Conteúdo*/
#subContent {
    margin:3% 15%;
    height:1000px;
}

.listItemTitle {
    display: inline;
    color:#003aa5
}

.listItem img {
    width: 200px;
    height: 120px;

}

.list {
    width: 75%;
    float: left;
    list-style: none;
}

.groupContainer {
    float: left;
    width: 300px;
    border: #00b8ff dashed 1px;
    margin: 20px 75px 0 20px;
    padding: 10px;
    height: 600px;
    background-color: #fbfcff;
}
/*fim Sub-Conteúdo*/

/*configurações minha foto*/

#mypic {
    background-image:url("../images/yo.jpg");
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin:10px auto;
    
}

#mypic img {
    width: 120px;
    border-radius: 100%;
}

/*fim configurações minha foto*/

/*Conteúdo Contato*/

.itemListImage {
    width: 100px;
    height: 100px;
    float: left;
    margin: 30px;
}

.contentItems {

    margin:0 auto;
    padding: 0;
    width: 40%;
    height: 100px;
    
}

.itemListImage img {
    width: 120px;
    float: left;
    padding: 5px 15px;
    box-sizing: border-box;
    margin: 0 auto;
    
}


#discordImage {
    background-image: url("../images/disc.png");
    background-size: cover;
    width: 80px;
    height: 80px;
}

.item {
    display:inline;
    padding:5px;
    margin:0 auto;
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
}
/*fim Conteúdo Contato*/
/* Conteúdo O que faço*/

.list dd {color:#6723c0ce}
.oQueFacoContainer {height: 500px}

/*fim O que faço*/
/* Configurações Gerais */
body {background-color: rgb(255, 255, 255);}
a {text-decoration: none;color:#003aa5;font-weight: 300px;}

a:hover{text-decoration: underline;}

body {font-family: 'Roboto', sans-serif;}
/*fim Configurações Gerais */

